/* Variables */

:root {
    --basic-navi-blue: #32425C;
    --basic-dark-navi-blue: #293449;
    --basic-red: #EE3643;
    --basic-light-yellow: #FFD180;
    --basic-light-red: #FF5357;
    --basic-beige: #F9F5F0;
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-yellow: #FFBF47;
    --basic-blue: #3BBCE3;
    --basic-green: #63A63E;
    --basic-dark-green: #367315;
    --basic-light-green: #8ED78F;
    --basic-purple: #DC91D8;
    --basic-grey: #A9A9A9;
    --basic-light-grey: #F3F7F9;
    --special-light-grey: #F1F5F7;
    --special-yellow: #FFDA96;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', sans-serif;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.main-header {
    padding-bottom: 60px;
    background-image: linear-gradient(var(--basic-dark-navi-blue) 42px, var(--basic-light-grey) 42px)
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

.header,
.navigation {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.header {
    margin: 0 auto;
    width: 940px;
    height: 42px;
    display: flex;
    justify-content: space-between;
}

.main-navigation {
    background-color: var(--basic-navi-blue);
    width: 940px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 56px;
    margin: 0;
    padding: 16px 53px 20px;
}

.header a,
.navigation a {
    color: var(--basic-white);
}

.technomart-link {
    background-color: var(--basic-red);
    padding: 12px 0 17px 0;
    height: 18px;
    flex-basis: 220px;
}

.technomart-link img {
    margin: 0 55px 0 57px;
}

.header form {
    padding-top: 9px;
    margin-left: 17px;
    flex-grow: 1;
}

.bookmarks {
    padding-top: 9px;
    flex-basis: 106px;
    margin-right: 50px;
}

.cart {
    padding-top: 9px;
    flex-basis: 98px;
    margin-right: 26px;
}

.order {
    line-height: 18px;
    display: block;
    background-color: var(--basic-green);
    padding-top: 9px;
    height: 33px;
    flex-basis: 150px;
    text-align: center
}

.shop-info {
    margin: 41px auto 0;
    width: 940px;
    height: 112px;
    display: flex;
    justify-content: space-between;
}

.shop-description {
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
    flex-basis: 197px;
    margin-left: 30px;
    margin-top: 0;
}

.contact-data {
    flex-basis: 270px;
}

.contact-data a {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
    padding-top: 7px;
    height: 30px;
    border: 4px solid var(--basic-white);
}

.contact-data address {
    margin: 0 auto;
    text-align: center;
}

.authorisation {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.authoristion-button {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    margin: 0 5px;
}

.login-button {
    display: block;
    margin-top: 0;
    padding: 12px 19px 12px 27px;
    margin-right: 10px;
}

.registration-button {
    display: block;
    margin: 0;
    padding: 12px 24px;
}

.header-address {
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    color: var(--basic-navi-blue);
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 940px;
    margin: 0 auto;
    padding: 0;
    margin-top: 66px;
}

.features-item {
    align-self: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-white);
    flex-basis: 300px;
}

.feature-button {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.3);
}

.materials {
    background-color: var(--basic-yellow);
    background-image: url(../img/icon-feature-paint.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

.tools {
    background-color: var(--basic-blue);
    background-image: url(../img/icon-feature-drill.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

.technic {
    background-color: var(--basic-purple);
    background-image: url(../img/icon-feature-tractor.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

.sale {
    background-color: var(--basic-light-green);
    background-image: url(../img/icon-feature-cart.svg);
    background-repeat: no-repeat;
    background-position: center right;
    margin-top: auto;
    margin-bottom: auto;
}

.delivery {
    background-color: var(--basic-yellow);
    background-image: url(../img/icon-feature-delivery.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

.current-offers {
    width: 620px;
    flex-grow: 1;
}

.offers {
    background-color: var(--basic-grey);
}

.offer-name {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-white);
}

.offer-description {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.button {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-red);
    text-align: center;
    padding: 10px 25px;
}

.button-buy {
    background-color: var(--basic-green);
    box-shadow: inset 0px -3px 0px var(--basic-dark-green);
    border-radius: 2px;
}

.button-favorites {
    color: var(--basic-navi-blue);
    background-color: var(--basic-white);
    border: 3px solid var(--basic-green);
    box-sizing: border-box;
    border-radius: 2px;
}

.popular {
    width: 940px;
    height: 89px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--basic-beige);
    display: grid;
    grid-template-columns: auto fit-content(100%);
}

.popular h2 {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-navi-blue);
    margin-left: 28px;
    margin-top: 29px;
    margin-bottom: 30px;
}

.product-button {
    margin-right: 14px;
    align-self: center;
}

.product {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: var(--basic-black);
    text-align: center;
}

.product-list {
    width: 940px;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    column-gap: 20px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.price {
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: var(--basic-white);
}

.old-price {
    color: var(--basic-grey);
}

.producers-list {
    width: 940px;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 145px;
    gap: 20px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.producer-button {
    margin-right: 19px;
    margin-top: 25px;
    margin-bottom: 26px;
}

.services {
    background-color: var(--basic-light-grey);
}

.services h2 {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.service-description {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
}

.service-radio-label {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-white);
    background-color: var(--basic-dark-navi-blue);
}

input[type="radio"]:checked+label {
    color: var(--basic-dark-navi-blue);
    background-color: var(--basic-white);
}

.service {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-navi-blue);
}

.tech-info h2,
.contacts {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.tech-description,
.contacts-description {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
}

.companies {
    list-style-image: none;
    /*я временно не использую изображение для маркера, поэтому поставила none*/
}

.company {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black);
}

.footer-nav {
    color: var(--special-light-grey);
}

.footer-features a {
    color: var(--basic-light-yellow);
}

.footer-features li:nth-child(2) a {
    color: var(--special-yellow);
    /*в макете именно пункт Техника другого оттенка желтого в своем блоке*/
}

.footer-address,
.footer-phone {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-light-grey);
}

.page-footer>div {
    background-color: var(--basic-navi-blue);
}

.page-footer>div>div {
    background-color: var(--basic-dark-navi-blue);
}

.footer-copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.contact-mail,
.footer-copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.contact-mail a,
.footer-copyright a {
    color: var(--basic-light-yellow);
}