/* Variables */

:root {
    --basic-navi-blue: #32425C;
    --basic-dark-navi-blue: #293449;
    --basic-red: #EE3643;
    --basic-light-yellow: #FFD180;
    --basic-light-red: #FF5357;
    --basic-beige: #F9F5F0;
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-yellow: #FFBF47;
    --basic-blue: #3BBCE3;
    --basic-green: #63A63E;
    --basic-dark-green: #367315;
    --basic-light-green: #8ED78F;
    --basic-purple: #DC91D8;
    --basic-grey: #a9a9a9;
    --basic-light-grey: #F3F7F9;
    --special-light-grey: #F1F5F7;
    --special-yellow: #FFDA96;
    --special-red: #BA2732;
    --special-dark-red: #CA2C37;
    --special-dark-navi-blue: #161D29;
    --special-dark-green: #518534;
    --special-light-green: #5FBB2D;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', sans-serif;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.main-header {
    padding-bottom: 60px;
    background-image: linear-gradient(var(--basic-dark-navi-blue) 42.5px, var(--basic-light-grey) 42.5px);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

.header,
.navigation {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.header {
    margin: 0 auto;
    width: 940px;
    height: 42px;
    display: flex;
    justify-content: space-between;
}

.main-navigation {
    background-color: var(--basic-navi-blue);
    width: 940px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.navigation-header {
    display: grid;
    grid-template-columns: repeat(7, auto);
    margin: 0;
    padding: 0 53px 20px;
}

.navigation-header li {
    height: 44px;
    text-align: center;
    padding-top: 16px;
}

.navigation-header li:hover {
    background-color: var(--basic-dark-navi-blue);
}

.header a,
.navigation a {
    color: var(--basic-white);
}

.technomart-link {
    background-color: var(--basic-red);
    padding: 12px 0 17px 0;
    height: 18px;
    flex-basis: 220px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.technomart-link:focus {
    background-color: var(--special-red);
}

.technomart-link img {
    margin: 0 55px 0 57px;
}

.header form {
    flex-grow: 1;
}

.header form input[type="search"] {
    width: 270px;
    border: none;
    padding: 12px 0 12px 50px;
    font-size: 17px;
    line-height: 18px;
    cursor: pointer;
    background: var(--basic-dark-navi-blue) url(../img/sprite.png) no-repeat 7px -582px
}

.header form input[type="search"]::placeholder {
    color: var(--basic-white);
}

.header form input[type=search]:hover {
    color: var(--basic-black);
    background: var(--basic-dark-navi-blue) url(../img/sprite.png) no-repeat 7px -364px;
    outline: none;
}

.header form input[type=search]:focus {
    color: var(--basic-black);
    background: var(--basic-white) url(../img/sprite.png) no-repeat 7px -401px;
    outline: none;
}

.bookmarks {
    padding: 12px 0 12px 45px;
    flex-basis: 106px;
    line-height: 18px;
    background: url(../img/sprite.png) no-repeat 7px -619px
}

.bookmarks:hover {
    background: var(--basic-dark-navi-blue) url(../img/sprite.png) no-repeat 7px -34px;
}

.bookmarks:focus {
    opacity: 0.6;
    background: var(--special-dark-navi-blue) url(../img/sprite.png) no-repeat 7px -619px;
}

.cart {
    flex-basis: 98px;
    padding: 12px 0 12px 50px;
    line-height: 18px;
    background: url(../img/sprite.png) no-repeat 6px -547px;
}

.cart:hover {
    background: var(--basic-dark-navi-blue) url(../img/sprite.png) no-repeat 7px 1px;
}

.cart:focus {
    opacity: 0.6;
    background: var(--special-dark-navi-blue) url(../img/sprite.png) no-repeat 6px -547px;
}

.order {
    line-height: 18px;
    display: block;
    background-color: var(--basic-green);
    padding-top: 12px;
    height: 30px;
    flex-basis: 150px;
    text-align: center
}

.order:focus {
    opacity: 0.6;
}

.shop-info {
    margin: 41px auto 0;
    width: 940px;
    height: 112px;
    display: flex;
    justify-content: space-between;
}

.shop-description {
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
    flex-basis: 197px;
    margin-left: 30px;
    margin-top: 0;
}

.contact-data {
    position: relative;
    flex-basis: 270px;
}

.contact-data a::before {
    content: "";
    position: absolute;
    background-image: url(../img/icon-phone.svg);
    width: 19px;
    height: 19px;
    top: 13px;
    left: 39px;
}

.contact-data a {
    display: block;
    padding-left: 74px;
    font-weight: bold;
    font-size: 21px;
    line-height: 24px;
    color: var(--basic-red);
    padding-top: 7px;
    height: 30px;
    border: 4px solid var(--basic-white);
}

.contact-data address {
    margin: 0 auto;
    text-align: center;
}

.authorisation {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.authorisation-button {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    margin: 0 5px;
}

.authorisation li {
    position: relative;
}

.login-button::before {
    content: "";
    position: absolute;
    left: 19px;
    top: 14px;
    width: 20px;
    height: 17px;
    background-image: url(../img/icon-login.svg);
}

.login-button {
    display: block;
    width: 49px;
    margin-top: 0;
    padding: 12px 27px 12px 45px;
    margin-right: 10px;
}

.login-button:hover::before {
    background-image: url(../img/icon-login-hovered.svg);
}

.login-button:hover {
    color: var(--basic-red);
}

.login-button:focus::before {
    background-image: url(../img/icon-login.svg);
    opacity: 0.5;
}

.login-button:focus {
    color: var(--basic-grey);
    opacity: 0.5;
}

.registration-button {
    display: block;
    margin: 0;
    padding: 12px 24px;
}

.registration-button:hover {
    color: var(--basic-red);
}

.registration-button:focus {
    color: var(--basic-grey);
    opacity: 0.5;
}

.header-address {
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    color: var(--basic-navi-blue);
}

.features-list {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px;
    width: 940px;
    margin: 0 auto;
    padding: 0;
    margin-top: 59px;
    margin-bottom: 59px;
}

.features-item {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-white);
    padding: 20px 22px;
    margin: 0;
}

.features-item h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 14px;
}

.feature-button {
    display: block;
    width: 135px;
    height: 28px;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

.feature-button:hover {
    color: var(--basic-white);
    background-color: rgba(169, 169, 169, 0.2);
}

.feature-button:focus {
    color: var(--basic-white);
    background-color: rgba(169, 169, 169, 0.3);
}

.materials {
    position: relative;
    background-color: var(--basic-yellow);
}

.materials::before {
    content: "";
    position: absolute;
    top: 31px;
    left: 213px;
    width: 44px;
    height: 65px;
    background-image: url(../img/icon-feature-paint.svg);
    background-repeat: no-repeat;
}

.new::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 70px;
    height: 70px;
    background-image: url(../img/icon-new.png);
    background-repeat: no-repeat;
}

.tools {
    position: relative;
    background-color: var(--basic-blue);
}

.tools::before {
    content: "";
    position: absolute;
    top: 34px;
    left: 194px;
    width: 75px;
    height: 61px;
    background-image: url(../img/icon-feature-drill.svg);
    background-repeat: no-repeat;
}

.technic {
    position: relative;
    background-color: var(--basic-purple);
}

.technic::before {
    content: "";
    position: absolute;
    top: 31px;
    left: 191px;
    width: 78px;
    height: 62px;
    background-image: url(../img/icon-feature-tractor.svg);
    background-repeat: no-repeat;
}

.sale {
    position: relative;
    background-color: var(--basic-light-green);
}

.sale::before {
    content: "";
    position: absolute;
    top: 26px;
    left: 196px;
    width: 59px;
    height: 72px;
    background-image: url(../img/icon-feature-cart.svg);
    background-repeat: no-repeat;
}

.delivery {
    position: relative;
    background-color: var(--basic-yellow);
}

.delivery::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 191px;
    width: 78px;
    height: 63px;
    background-image: url(../img/icon-feature-delivery.svg);
    background-repeat: no-repeat;
}

.offers {
    position: relative;
    grid-row: 2/5;
    grid-column: 1/3;
    height: 266px;
}

.offers ul {
    padding: 0;
    height: 266px;
}

.offer {
    display: none;
    background-color: var(--basic-grey);
    height: 266px;
    padding: 0;
}

.offer h3 {
    margin: 0;
}

.offer-one {
    background-image: url(../img/perforator.jpg);
}

.offer-two {
    background-image: url(../img/drill.jpg);
}

.offer-name {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    padding-left: 24px;
    padding-top: 23px;
    color: var(--basic-white);
}

.offer-description {
    font-size: 18px;
    line-height: 24px;
    padding-left: 24px;
    color: var(--basic-white);
}

.pseudo-button {
    display: block;
    font-size: 30px;
    width: 22px;
    height: 40px;
}

.pseudo-radio-button-left,
.pseudo-radio-button-right {
    display: block;
    width: 10px;
    height: 10px;
    background-image: url(../img/unchecked-radio-button.svg);
}

.pseudo-radio-button-left {
    position: absolute;
    top: 220px;
    left: 295px;
}

.pseudo-radio-button-right {
    position: absolute;
    top: 220px;
    left: 317px;
}

.button-left {
    position: absolute;
    top: 112px;
    left: 24px;
    background-image: url(../img/icon-left.svg);
    background-repeat: no-repeat;
}

.button-right {
    position: absolute;
    top: 112px;
    left: 578px;
    background-image: url(../img/icon-right.svg);
    background-repeat: no-repeat;
}

#offer-one:checked~.labelsWrapper [for="offer-one"],
#offer-two:checked~.labelsWrapper [for="offer-two"] {
    background-image: url(../img/checked-radio-button.svg);
}

#offer-one:checked~.offer-list .offer-one,
#offer-two:checked~.offer-list .offer-two {
    display: block;
}

.catalog-button {
    position: absolute;
    top: 201px;
    left: 24px;
    height: 18px;
    width: 142px;
}

.catalog-button:hover {
    background-color: var(--special-dark-red);
}

.catalog-button:focus {
    background-color: var(--special-red);
}

.button {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-red);
    text-align: center;
    padding: 10px 25px;
}

.button-buy {
    width: 136px;
    height: 38px;
    margin: 38px 44px 0px 41px;
    background-color: var(--basic-green);
    box-shadow: inset 0px -3px 0px var(--basic-dark-green);
    border-radius: 2px;
    font-family: 'Cuprum', sans-serif;
}

.button-buy:hover {
    background-color: var(--special-light-green);
}

.button-buy:focus {
    background-color: var(--special-dark-green);
}

.button-favorites {
    width: 136px;
    height: 38px;
    margin: 10px 44px 0px 41px;
    color: var(--basic-navi-blue);
    background-color: var(--basic-white);
    border: 3px solid var(--basic-green);
    box-sizing: border-box;
    border-radius: 2px;
    font-family: 'Cuprum', sans-serif;
}

.button-favorites:hover {
    border: 3px solid var(--basic-navi-blue);
}

.button-favorites:focus {
    border: 3px solid var(--basic-grey);
}

.popular {
    width: 940px;
    height: 89px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--basic-beige);
    display: grid;
    grid-template-columns: auto fit-content(100%);
}

.popular h2 {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-navi-blue);
    margin-left: 28px;
    margin-top: 29px;
    margin-bottom: 30px;
}

.product-button {
    margin-right: 14px;
    align-self: center;
}

.product {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: var(--basic-black);
    text-align: center;
}

.product-list {
    width: 940px;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    column-gap: 20px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.product-list li {
    position: relative;
    border: 1px solid var(--basic-light-grey);
}

.popular-product {
    width: 220px;
    height: 178px;
}

.popular-product-action-box {
    display: none;
}

.product:hover .popular-product-image {
    display: none;
}

.product:hover .popular-product-action-box {
    display: block;
}

.product-list li:hover {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.price {
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: var(--basic-white);
}

.button-arrow {
    background-color: var(--basic-white);
    background-image: url(../img/red-button.svg);
    background-repeat: no-repeat;
    text-align: left;
    margin-left: 45px;
    padding-left: 32px;
    padding-right: 0;
}

.old-price {
    display: block;
    height: 18px;
    color: var(--basic-grey);
}

.producers-list {
    width: 940px;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 145px;
    gap: 20px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.producer a:hover {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.producer a:focus {
    opacity: 0.5;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.producer-button {
    margin-right: 19px;
    margin-top: 25px;
    margin-bottom: 26px;
}

.services {
    background-color: var(--basic-light-grey);
    padding-top: 64px;
    padding-bottom: 99px;
    margin-top: 70px;
}

.services-block {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.service-choice {
    display: flex;
    margin-top: 70px;
}

.services h2 {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    margin-top: 0;
}

.service-description {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    width: 396px;
    color: var(--basic-black);
    margin-top: 30px;
}

.service-item {
    width: 300px;
}

.service-choice div {
    width: 240px;
}

.service-list {
    margin-left: 80px;
    margin-top: 0;
    padding: 0;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.service-radio-label {
    display: block;
    cursor: pointer;
    height: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-white);
    padding-top: 13px;
    ;
    padding-left: 22px;
    background-color: var(--basic-navi-blue);
}

.service-radio-label:hover {
    background-color: var(--basic-dark-navi-blue);
}

.service-list li {
    display: none;
    position: relative;
}

.service-delivery-header::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 151px;
    width: 468px;
    height: 261px;
    background-repeat: no-repeat;
    background-image: url(../img/delivery.png);
}

.service-garantee-header::after {
    content: "";
    position: absolute;
    left: 239px;
    width: 389px;
    height: 283px;
    background-repeat: no-repeat;
    background-image: url(../img/guarantee.png);
}

.service-credit-header::after {
    content: "";
    position: absolute;
    left: 165px;
    width: 465px;
    height: 283px;
    background-repeat: no-repeat;
    background-image: url(../img/credit.png);
}


/*input[type="radio"]:checked+label {
    color: var(--basic-dark-navi-blue);
    background-color: var(--basic-white);
}*/

#delivery:checked~.labelsWrapper [for="delivery"],
#guarantee:checked~.labelsWrapper [for="guarantee"],
#credit:checked~.labelsWrapper [for="credit"] {
    color: var(--basic-dark-navi-blue);
    background-color: var(--basic-white);
}

#delivery:checked~.service-list .service-delivery,
#guarantee:checked~.service-list .service-garantee,
#credit:checked~.service-list .service-credit {
    display: block;
}

.service {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-navi-blue);
    margin: 0;
}

.not-visible {
    display: none;
}

.tech-info h2,
.contacts {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.tech-info {
    display: grid;
    grid-template-columns: 460px 300px;
    gap: 179px;
    width: 940px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
}

.tech-description,
.contacts-description {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
    margin: 0;
}

.contacts-description {
    width: 180px;
}

.info-company h2,
.info-contacts h2 {
    margin-top: 0;
}

.companies {
    list-style-image: none;
    /*я временно не использую изображение для маркера, поэтому поставила none*/
}

.company {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black);
}

.footer-container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-nav {
    display: flex;
    color: var(--special-light-grey);
    justify-content: flex-end;
    height: 68px;
    margin: 0;
    padding: 0;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-nav a:focus {
    text-decoration: none;
    opacity: 0.5;
}

.footer-nav li {
    margin-left: 58px;
    padding-top: 37px;
}

.footer-technomart-link {
    display: block;
    padding-top: 20px;
    background-color: var(--basic-red);
    height: 48px;
    flex-basis: 220px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.footer-technomart-link img {
    margin: 0 42px 0 40px;
}

.footer-middle {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}

.footer-features {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.footer-features li {
    margin-left: 59px;
}

.footer-features a:hover {
    text-decoration: underline;
}

.footer-features a:focus {
    text-decoration: none;
    opacity: 0.5;
}

.footer-features a {
    color: var(--basic-light-yellow);
}

.footer-features li:nth-child(2) a {
    color: var(--special-yellow);
    /*в макете именно пункт Техника другого оттенка желтого в своем блоке*/
}

.footer-address,
.footer-phone {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-light-grey);
}

.page-footer {
    height: 300px;
    background-image: linear-gradient(var(--basic-navi-blue) 193px, var(--basic-dark-navi-blue) 107px);
}

.footer-company-copyright {
    display: block;
    width: 227px;
    height: 37px;
    margin: 0;
}

.footer-bottom ul {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 161px;
}

.contact-mail {
    display: block;
    width: 137px;
    height: 37px;
    margin-top: 0;
    margin-left: 118px;
}

.contact-mail a:hover {
    text-decoration: underline;
}

.contact-mail a:focus {
    text-decoration: none;
    color: var(--basic-red);
}

.developed-by {
    display: block;
    width: 98px;
    height: 37px;
    margin-top: 0;
    margin-left: 51px;
}

.developed-by a:hover {
    text-decoration: underline;
}

.developed-by a:focus {
    text-decoration: none;
    color: var(--basic-red);
}

.contact-mail,
.footer-copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.contact-mail a,
.footer-copyright a {
    color: var(--basic-light-yellow);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.social-button:hover .vk,
.social-button:focus .vk {
    fill: var(--basic-red);
}

.social-button:hover .facebook,
.social-button:focus .facebook {
    fill: var(--basic-red);
}

.social-button:hover .instagram,
.social-button:focus .instagram {
    fill: var(--basic-red);
}

.map {
    position: absolute;
}

.map-wrapper {
    position: relative;
}