/* Variables */

:root {
    --basic-navi-blue: #32425C;
    --basic-dark-navi-blue: #293449;
    --basic-red: #EE3643;
    --basic-light-yellow: #FFD180;
    --basic-light-red: #FF5357;
    --basic-beige: #F9F5F0;
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-yellow: #FFBF47;
    --basic-blue: #3BBCE3;
    --basic-green: #63A63E;
    --basic-dark-green: #367315;
    --basic-light-green: #8ED78F;
    --basic-purple: #DC91D8;
    --basic-grey: #A9A9A9;
    --basic-light-grey: #F3F7F9;
    --special-light-grey: #F1F5F7;
    --special-yellow: #FFDA96;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', sans-serif;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

.header,
.navigation {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.header {
    background-color: var(--basic-dark-navi-blue);
}

.navigation {
    background-color: var(--basic-navi-blue);
}

.header a,
.navigation a {
    color: var(--basic-white);
}

.order {
    background-color: var(--basic-green);
}

.shop-description {
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
}

.phone {
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
}

.authorisation a {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}

.header-address {
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    color: var(--basic-navi-blue);
}

.features-item {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-white);
}

.feature-button {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.3);
}

.materials {
    background-color: var(--basic-yellow);
    background-image: url(../img/icon-feature-paint.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

.tools {
    background-color: var(--basic-blue);
    background-image: url(../img/icon-feature-drill.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

.technic {
    background-color: var(--basic-purple);
    background-image: url(../img/icon-feature-tractor.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

.sale {
    background-color: var(--basic-light-green);
    background-image: url(../img/icon-feature-cart.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

.delivery {
    background-color: var(--basic-yellow);
    background-image: url(../img/icon-feature-delivery.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

.offers {
    background-color: var(--basic-grey);
}

.offer-name {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-white);
}

.offer-description {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.button {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-red);
}

.button-buy {
    background-color: var(--basic-green);
    box-shadow: inset 0px -3px 0px var(--basic-dark-green);
    border-radius: 2px;
}

.button-favorites {
    color: var(--basic-navi-blue);
    background-color: var(--basic-white);
    border: 3px solid var(--basic-green);
    box-sizing: border-box;
    border-radius: 2px;
}

.popular {
    background-color: var(--basic-beige);
}

.popular h2 {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-navi-blue);
}

.product {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: var(--basic-black);
}

.price {
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: var(--basic-white);
}

.old-price {
    color: var(--basic-grey);
}

.services {
    background-color: var(--basic-light-grey);
}

.services h2 {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.service-description {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
}

.service-radio-label {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-white);
    background-color: var(--basic-dark-navi-blue);
}

input[type="radio"]:checked+label {
    color: var(--basic-dark-navi-blue);
    background-color: var(--basic-white);
}

.service {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-navi-blue);
}

.tech-info h2,
.contacts {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.tech-description,
.contacts-description {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
}

.companies {
    list-style-image: none;
    /*я временно не использую изображение для маркера, поэтому поставила none*/
}

.company {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black);
}

.footer-nav {
    color: var(--special-light-grey);
}

.footer-features a {
    color: var(--basic-light-yellow);
}

.footer-features li:nth-child(2) a {
    color: var(--special-yellow);
    /*в макете именно пункт Техника другого оттенка желтого в своем блоке*/
}

.footer-address,
.footer-phone {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-light-grey);
}

.page-footer>div {
    background-color: var(--basic-navi-blue);
}

.page-footer>div>div {
    background-color: var(--basic-dark-navi-blue);
}

.footer-copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.contact-mail,
.footer-copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.contact-mail a,
.footer-copyright a {
    color: var(--basic-light-yellow);
}